{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
  <div class="cuerpo">
    <h1 class="titulo text-center">NUESTROS CUIDADORES</h1>
    <div class="container">
      <div class="row mt-4 mb-5">
        {% csrf_token %}
        <div class="row mt-4 mb-5">
          {% for cuidador in cuidadores %}
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card h-100">
              {% if cuidador.image %}
              <img class="card-img-top" src="{{ cuidador.image.url }}" alt="Card image cap" style="object-fit: cover;">
              {% else %}
              <div class="card-img-top no-image"></div>
              {% endif %}
              <div class="card-body"
                   data-nombre="{{ cuidador.name }}"
                   data-descripcion="{{ cuidador.description }}"
                   data-id="{{ cuidador.id }}">
                <h5 class="card-title">{{ cuidador.name }}</h5>
                <p class="card-text">{{ cuidador.description }}</p>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="selected_cuidadores" value="{{ cuidador.id }}">
                    Seleccionar
                  </label>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <div class="d-inline-block">
          <a href="{% url 'registro' %}" class="btn btn-primary">Paseos</a>
          <button id="actualizarButton" class="btn btn-success">Actualizar</button>
          <button id="eliminarButton" class="btn btn-danger" data-csrf-token="{{ csrf_token }}">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editarCuidadorModal" tabindex="-1" role="dialog" aria-labelledby="editarCuidadorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarCuidadorModalLabel">Editar Cuidador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editarCuidadorForm">
            <input type="hidden" id="cuidadorId" name="cuidadorId" value="">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="form-group">
              <label for="apellido">Apellidos</label>
              <input type="text" class="form-control" id="apellido" name="apellido" required>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
              <label for="edad">Edad</label>
              <input type="number" class="form-control" id="edad" name="edad" required>
            </div>
            <div class="form-group">
              <label for="correo">Correo Electrónico</label>
              <input type="email" class="form-control" id="correo" name="correo" required>
            </div>
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="text" class="form-control" id="telefono" name="telefono" required>
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <textarea class="form-control" id="descripcion" name="descripcion" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
