{%extends 'base.html'%}
{% load static %}
{% block content %}
<main>
  <div class="cuerpo">
    <h1 class="titulo text-center">NUESTROS CUIDADORES</h1>
    <div class="container">
      <div class="row mt-4 mb-5">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="{% static 'img/cuidador-3.jpg' %}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Ana Martínez</h5>
              <p class="card-text">
                Como cuidador y paseador de mascotas, me encargo de brindar
                un cuidado afectuoso y responsable para tus mascotas,
                asegurándome de que estén felices y saludables en todo
                momento.
              </p>
              <a href="#" class="btn btn-primary">Quiero este cuidador</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="{% static 'img/cuidador4.jpg' %}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Laura Pérez</h5>
              <p class="card-text">
                Soy un cuidador y paseador de mascotas con experiencia en el
                cuidado de diferentes tipos de animales. Me comprometo a
                proporcionar un servicio excepcional y a garantizar su
                bienestar y seguridad.
              </p>
              <a href="#" class="btn btn-primary">Quiero este cuidador</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="{%static 'img/cuidador7.jpg' %}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Carlos González</h5>
              <p class="card-text">
                Como cuidador y paseador de mascotas, me encanta trabajar
                con animales y estoy dedicado a brindarles el mejor cuidado
                posible. Soy responsable y comprometido con garantizar su
                felicidad y salud.
              </p>
              <a href="#" class="btn btn-primary">Quiero este cuidador</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="{% static 'img/cuidador8.jpg' %}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">David Fernández</h5>
              <p class="card-text">
                Soy un apasionado cuidador y paseador de mascotas,
                comprometido con brindar un cuidado de alta calidad para tus
                queridas mascotas. Me aseguro de que reciban el ejercicio
                adecuado y estén cómodos y seguros en todo momento..
              </p>
              <a href="#" class="btn btn-primary">Quiero este cuidador</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="{% static 'img/cuidador5.jpg'%}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Sofía Torres</h5>
              <p class="card-text">
                Como cuidador y paseador de mascotas, mi objetivo es ofrecer
                un servicio personalizado y profesional para tus mascotas.
                Soy amable y responsable, y me comprometo a garantizar su
                felicidad y bienestar en todo momento.
              </p>
              <a href="#" class="btn btn-primary">Quiero este cuidador</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card" style="width: 18rem">
            <img
              class="card-img-top"
              src="{% static 'img/cuidador9.jpg' %}"
              alt="Card image cap"
            />

            <div class="card-body">
              <h5 class="card-title">María García</h5>
              <p class="card-text">
                Soy un cuidador y paseador de mascotas confiable y
                comprometido, con experiencia en el cuidado de diferentes
                tipos de mascotas. Me aseguro de proporcionarles el cuidado
                amoroso y responsable que necesitan para estar felices y
                saludables.
              </p>
              <a href="#" class="btn btn-primary">Quiero este cuidador</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endblock%}